In [1]:
###########################LIBRERÍAS A UTILIZAR#############################
##Procesamiento de Datos
import numpy as np
import pandas as pd
#import os
from pathlib import Path

##Algoritmos de ML

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

In [2]:
#############################IMPORTANDO DATA################################
#print(os.environ['USERPROFILE'])
data_folder = Path("/GitHub/DataScience/ML/Titanic/Dataset/")
print(data_folder)
df_test = pd.read_csv("F:" / data_folder / "test.csv")
df_train = pd.read_csv("F:" / data_folder / "train.csv")

print(df_test.head())
print(df_train.head())

\GitHub\DataScience\ML\Titanic\Dataset
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked  WikiId  \
0  34.5      0      0   330911   7.8292   NaN        Q   928.0
1  47.0      1      0   363272   7.0000   NaN        S  1297.0
2  62.0      0      0   240276   9.6875   NaN        Q   518.0
3  27.0      0      0   315154   8.6625   NaN        S  1303.0
4  22.0      1      1  3101298  12.2875   NaN        S   871.0

                                        Name_wiki  Age_wiki  \
0                                Kelly, Mr. James      19.0
1                              Wilkes, Mrs. Ellen      47.0
2                       Myles, Mr. Thomas Francis      63.0
3                                Wirz, Mr. Albert      27.0
4  Hirvonen, Mrs. Helga Elisabeth (née Lindqvist)      22.0

                      Hometown      Boarded                 Destination  \
0             Unknown, Ireland  Southampton               New York City
1  Penzance, Cornwall, England  Southampton             Akron, Ohio, US
2      Fermoy, Ireland[note 1]   Queenstown    Waban, Massachusetts, US
3           Uster, Switzerland  Southampton       Beloit, Wisconsin, US
4        Taalintehdas, Finland  Southampton  Monessen, Pennsylvania, US

  Lifeboat   Body  Class
0      NaN   70MB    3.0
1       16    NaN    3.0
2      NaN    NaN    2.0
3      NaN  131MB    3.0
4       15    NaN    3.0
   PassengerId  Survived  Pclass  \
0            1       0.0       3
1            2       1.0       1
2            3       1.0       3
3            4       1.0       1
4            5       0.0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare  ... Embarked WikiId  \
0      0         A/5 21171   7.2500  ...        S  691.0
1      0          PC 17599  71.2833  ...        C   90.0
2      0  STON/O2. 3101282   7.9250  ...        S  865.0
3      0            113803  53.1000  ...        S  127.0
4      0            373450   8.0500  ...        S  627.0

                                    Name_wiki Age_wiki  \
0                     Braund, Mr. Owen Harris     22.0
1  Cumings, Mrs. Florence Briggs (née Thayer)     35.0
2                       Heikkinen, Miss Laina     26.0
3          Futrelle, Mrs. Lily May (née Peel)     35.0
4                    Allen, Mr. William Henry     35.0

                             Hometown      Boarded  \
0          Bridgerule, Devon, England  Southampton
1              New York, New York, US    Cherbourg
2                  Jyväskylä, Finland  Southampton
3         Scituate, Massachusetts, US  Southampton
4  Birmingham, West Midlands, England  Southampton

                               Destination Lifeboat Body Class
0  Qu'Appelle Valley, Saskatchewan, Canada      NaN  NaN   3.0
1                   New York, New York, US        4  NaN   1.0
2                            New York City      14?  NaN   3.0
3              Scituate, Massachusetts, US        D  NaN   1.0
4                            New York City      NaN  NaN   3.0

[5 rows x 21 columns]

In [3]:
###########################ENTENDIENDO LA DATA##############################
#Verificar la cantidad de Datos en los DataSet
print('Cantidad de Datos:')
print(df_test.shape)
print(df_train.shape)

#Verificar el tipo de Datos en ambos DataSet
print('Tipos de Datos:')
print(df_test.info())
print(df_train.info())

#Verificar Datos faltantes
print('Datos faltantes:')
print(pd.isnull(df_test).sum())
print(pd.isnull(df_train).sum())

#Verificar las estadísticas de cada DataSet
print('Estadísticas del DataSet:')
print(df_test.describe())
print(df_train.describe())

Cantidad de Datos:
(418, 20)
(891, 21)
Tipos de Datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
 11  WikiId       415 non-null    float64
 12  Name_wiki    415 non-null    object
 13  Age_wiki     415 non-null    float64
 14  Hometown     415 non-null    object
 15  Boarded      415 non-null    object
 16  Destination  415 non-null    object
 17  Lifeboat     157 non-null    object
 18  Body         43 non-null     object
 19  Class        415 non-null    float64
dtypes: float64(5), int64(4), object(11)
memory usage: 65.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    float64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  WikiId       889 non-null    float64
 13  Name_wiki    889 non-null    object
 14  Age_wiki     887 non-null    float64
 15  Hometown     889 non-null    object
 16  Boarded      889 non-null    object
 17  Destination  889 non-null    object
 18  Lifeboat     345 non-null    object
 19  Body         87 non-null     object
 20  Class        889 non-null    float64
dtypes: float64(6), int64(4), object(11)
memory usage: 146.3+ KB
None
Datos faltantes:
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
WikiId           3
Name_wiki        3
Age_wiki         3
Hometown         3
Boarded          3
Destination      3
Lifeboat       261
Body           375
Class            3
dtype: int64
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
WikiId           2
Name_wiki        2
Age_wiki         4
Hometown         2
Boarded          2
Destination      2
Lifeboat       546
Body           804
Class            2
dtype: int64
Estadísticas del DataSet:
       PassengerId      Pclass         Age       SibSp       Parch  \
count   418.000000  418.000000  332.000000  418.000000  418.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344
std     120.810458    0.841838   14.181209    0.896760    0.981429
min     892.000000    1.000000    0.170000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000
50%    1100.500000    3.000000   27.000000    0.000000    0.000000
75%    1204.750000    3.000000   39.000000    1.000000    0.000000
max    1309.000000    3.000000   76.000000    8.000000    9.000000

             Fare       WikiId    Age_wiki       Class
count  417.000000   415.000000  415.000000  415.000000
mean    35.627188   643.684337   29.616241    2.257831
std     55.907576   379.508988   13.400225    0.847577
min      0.000000     2.000000    0.170000    1.000000
25%      7.895800   316.500000   21.000000    1.000000
50%     14.454200   641.000000   27.000000    3.000000
75%     31.500000   965.500000   37.000000    3.000000
max    512.329200  1313.000000   67.000000    3.000000
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare       WikiId    Age_wiki       Class
count  891.000000  891.000000   889.000000  887.000000  889.000000
mean     0.381594   32.204208   665.466817   29.322063    2.307087
std      0.806057   49.693429   380.796997   13.930089    0.837713
min      0.000000    0.000000     1.000000    0.420000    1.000000
25%      0.000000    7.910400   336.000000   20.000000    2.000000
50%      0.000000   14.454200   672.000000   28.000000    3.000000
75%      0.000000   31.000000   996.000000   38.000000    3.000000
max      6.000000  512.329200  1314.000000   74.000000    3.000000

In [4]:
#############################PROCESANDO LA DATA#############################
#Cambiar datos de sexo a números
df_test['Sex'].replace(['female','male'],[0,1],inplace=True)
df_train['Sex'].replace(['female','male'],[0,1],inplace=True)

#Cambiar datos de embarque a números
df_test['Embarked'].replace(['Q','S','C'],[0,1,2],inplace=True)
df_train['Embarked'].replace(['Q','S','C'],[0,1,2],inplace=True)

#Reemplazar los Datos faltantes en la edad por la media de esta columna
print(df_test['Age'].mean())
print(df_train['Age'].mean())
promedio = 30
df_test['Age'] = df_test['Age'].replace(np.nan, promedio)
df_train['Age'] = df_train['Age'].replace(np.nan, promedio)

#Crear grupos por rango de edad
#Grupos: 0-8, 9-15, 16-18, 19-25, 26-40, 41-60, 61-100
bins = [0, 8, 15, 18, 25, 40, 60, 100]
names = ['1', '2', '3', '4', '5', '6', '7'] 
df_test['Age'] = pd.cut(df_test['Age'], bins, labels = names)
df_train['Age'] = pd.cut(df_train['Age'], bins, labels = names)

#Eliminar columna de "Cabin" ya que tiene muchos datos perdidos
df_test.drop(['Cabin'], axis = 1, inplace = True)
df_train.drop(['Cabin'], axis = 1, inplace = True)

#Eliminar columnas que no se consideran necesarias para el análisis
df_test = df_test.drop(['Name', 'Ticket', 'WikiId', 'Name_wiki', 'Age_wiki', 'Hometown', 'Boarded', 'Destination', 'Lifeboat', 'Body', 'Class'], axis = 1)
df_train = df_train.drop(['PassengerId', 'Name', 'Ticket', 'WikiId', 'Name_wiki', 'Age_wiki', 'Hometown', 'Boarded', 'Destination', 'Lifeboat', 'Body', 'Class'], axis = 1)

#Eliminar filas con datos perdidos
df_test.dropna(axis=0, how='any', inplace = True)
df_train.dropna(axis=0, how='any', inplace = True)

#Verificar los Datos
print(pd.isnull(df_test).sum())
print(pd.isnull(df_train).sum())

print(df_test.shape)
print(df_train.shape)

print(df_test.head())
print(df_train.head())

30.272590361445783
29.69911764705882
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64
Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64
(417, 8)
(889, 8)
   PassengerId  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0          892       3    1   5      0      0   7.8292         0
1          893       3    0   6      1      0   7.0000         1
2          894       2    1   7      0      0   9.6875         0
3          895       3    1   5      0      0   8.6625         1
4          896       3    0   4      1      1  12.2875         1
   Survived  Pclass  Sex Age  SibSp  Parch     Fare  Embarked
0       0.0       3    1   4      1      0   7.2500       1.0
1       1.0       1    0   5      1      0  71.2833       2.0
2       1.0       3    0   5      0      0   7.9250       1.0
3       1.0       1    0   5      1      0  53.1000       1.0
4       0.0       3    1   5      0      0   8.0500       1.0

In [5]:
##########################APLICANDO ALGORITMOS DE ML########################
#Armando Modelos

#Separar el target con la infromación de supervivencia
x = np.array(df_train.drop(['Survived'], 1))
y = np.array(df_train['Survived'])
print(x)
print(y)

#Separar los Datos de entrenamiento
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

##Regresión logística
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
Y_pred = logreg.predict(x_test)
print('Precision Regresion Logistica:')
print(logreg.score(x_train, y_train))

##Support Vector Machines
svc = SVC()
svc.fit(x_train, y_train)
Y_pred = svc.predict(x_test)
print('Precision Soporte de Vectores:')
print(svc.score(x_train, y_train))

##K Neighbors
Knn = KNeighborsClassifier(n_neighbors = 3)
Knn.fit(x_train, y_train)
Y_pred = Knn.predict(x_test)
print('Precision Vecinos mas cercanos:')
print(Knn.score(x_train, y_train))

[[3 1 '4' ... 0 7.25 1.0]
 [1 0 '5' ... 0 71.2833 2.0]
 [3 0 '5' ... 0 7.925 1.0]
 ...
 [3 0 '5' ... 2 23.45 1.0]
 [1 1 '5' ... 0 30.0 2.0]
 [3 1 '5' ... 0 7.75 0.0]]
[0. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1. 1.
 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1.
 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0.
 0. 1. 0. 0. 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0.
 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 1. 1. 0. 0.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1.
 1. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1.
 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 0.
 0. 0. 1. 1. 1. 0. 1. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 1.
 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 1. 0.
 0. 0. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0.
 1. 1. 0. 1. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0.
 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 1. 0.
 0. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 1. 1. 1.
 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0.
 1. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 0.
 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1.
 0. 1. 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0.
 0. 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0.
 1. 1. 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 0. 1.
 1. 0. 1. 1. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 1. 1.
 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0.
 0. 0. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 1. 0.
 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0.
 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0.
 1. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 0. 1.
 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 0. 1.
 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0.
 0. 0. 0. 1. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0. 0. 1.
 1. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 1.
 0.]
Precision Regresion Logistica:
0.8073136427566807
Precision Soporte de Vectores:
0.6736990154711674
Precision Vecinos mas cercanos:
0.8537271448663853

C:\Users\rodrigr\AppData\Local\Temp/ipykernel_27276/30224920.py:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  x = np.array(df_train.drop(['Survived'], 1))

In [6]:
#####################PREDICCIÓN UTILIZANDO LOS MODELOS#######################
ids = df_test['PassengerId']

##Regresión logística
prediccion_logreg = logreg.predict(df_test.drop('PassengerId', axis=1))
out_logreg = pd.DataFrame({'PassengerId' : ids, 'Survived': prediccion_logreg })
print('Prediccion Regresion Logistica:')
print(out_logreg.head())

##Support Vector Machines
prediccion_svc = svc.predict(df_test.drop('PassengerId', axis=1))
out_svc = pd.DataFrame({'PassengerId' : ids, 'Survived': prediccion_svc })
print('Prediccion RSoporte de Vectores:')
print(out_svc.head())

##K Neighbors
prediccion_knn = Knn.predict(df_test.drop('PassengerId', axis=1))
out_knn = pd.DataFrame({'PassengerId' : ids, 'Survived': prediccion_knn })
print('Prediccion Vecinos mas cercanos:')
print(out_knn.head())

Prediccion Regresion Logistica:
   PassengerId  Survived
0          892       0.0
1          893       0.0
2          894       0.0
3          895       0.0
4          896       1.0
Prediccion RSoporte de Vectores:
   PassengerId  Survived
0          892       0.0
1          893       0.0
2          894       0.0
3          895       0.0
4          896       0.0
Prediccion Vecinos mas cercanos:
   PassengerId  Survived
0          892       1.0
1          893       0.0
2          894       0.0
3          895       0.0
4          896       1.0

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)